.scatter-chart .item {
  display: flex;
}

.scatter-chart .item .legend {
  width: 20%;
  text-align: right;
  position: relative;
}

.scatter-chart .item .data {
  width: 100%;
  position: relative;
}

.scatter-chart .item .data .percentage {
  position: absolute;
  top: 0;
  height: 140%;
  border-left: 1px dotted #aaa;
  z-index: 200;
}

.scatter-chart .item .data .percentage.zero {
  left: 0%;
}

.scatter-chart .item .data .percentage.twenty-five {
  left: 25%;
}

.scatter-chart .item .data .percentage.fifty {
  left: 50%;
}

.scatter-chart .item .data .percentage.seventy-five {
  left: 75%;
}

.scatter-chart .item .data .percentage.one-hundred {
  left: 100%;
}

.scatter-chart .item .result {
  width: 30%;
  position: relative;
}

.scatter-chart .item.body .data {
  z-index: 100;
  min-height: 64px;
  height: 100%;
  border-top: 3px solid #aaa;
}

.scatter-chart .item.body .data .marker {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
}

.scatter-chart .item.body .data .marker.dot {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border: 2px solid black;
}


.scatter-chart .item.body .data .marker.blue {
  background-color: rgb(234 88 12);
}
